html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  font-family: Poppins, "Courier New", Courier, monospace;
}
.mrb-2 {
  margin-bottom: 2em !important;
}
.main-content {
  padding: 16px 64px;

  // style de la partie Menu
  header .navbar-light .navbar-nav {
    .nav-item:not(:first-child) {
      padding-left: 50px;
    }
    .nav-item .nav-link {
      font-weight: 500;
      font-size: 16px;
      color: #000000;
    }
    .nav-link.active {
      color: #cd4b20;
      border-bottom: 2px solid #cd4b20;
    }
  }

  // Style de la bare de recherche
  .search-bar {
    border-radius: 25px;
    width: 70%;
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    padding: 0 16px;
    margin: 4em auto 0 auto;
    .select-column {
      padding-right: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.16);
      padding-top: 2px;
    }
    .search-column {
      padding-left: 8px;
    }
    .button-column {
      text-align: end;
      padding: 0px 5px;
      .search-rounded-btn {
        width: 41px;
        height: 41px;
        background: #cd4b20;
        border: none;
        border-radius: 50px;
        margin-top: 4px;
        &:hover {
          background: #99330e;
        }
      }
    }
    .input-with-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      .innericon {
        position: absolute;
        top: 4px;
        left: 8px;
        z-index: 2;
        display: block;
        text-align: center;
        pointer-events: none;
      }
      .searchicon {
        background: url(../assets/icons/icon-search-input.svg) no-repeat scroll
          0 12px;
        width: 32px;
        height: 30px;
      }
      .locationicon {
        background: url(../assets/icons/icon-location-input.svg) no-repeat
          scroll 0 12px;
        width: 32px;
        height: 30px;
      }
    }
    .select-column .form-group select,
    .search-column .form-group input {
      padding-left: 2.5em;
      font-size: 14px;
      line-height: 36px;
      border: none;
      border-radius: 50px;
    }
    .select-column .form-group select:focus,
    .search-column .form-group input:focus {
      box-shadow: none;
    }
    input::placeholder {
      color: #c3c3c3;
    }
  }

  // style titre de la page avec la ville selectionné
  .title-selected-city {
    margin: 64px auto 64px auto;
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 50px;
    color: #000000;
    .marked {
      color: #fd8829;
    }
  }

  // style content section
  section {
    .description {
      font-size: 16px;
      line-height: 28px;
      color: #2c2c2c;
      font-weight: normal;
    }
    .subtitle-title-selected-city {
      margin: 64px auto;
      text-align: left;
      display: block;
      font-weight: 500;
      font-size: 32px;
      color: #000000;
      .marked {
        color: #fd8829;
      }
    }
    .custom-card {
      padding: 16px 20px;
      border-radius: 30px;
      background: #fff;
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
      .title {
        padding: 10px;
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        color: #000;
        border-radius: 12px;
        background: rgba(205, 75, 32, 0.1);
      }
      .card-body {
        padding: 1rem 1rem 0 1em;
      }
      .subtitle {
        h5 {
          font-weight: bold;
          font-size: 16px;
          line-height: 32px;
          text-align: left;
          color: #cd4b20;
        }
        .desc {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          text-align: left;
          color: #000;
        }
      }
    }
  }
}
.custom-footer {
  background: url(../assets/images/bg-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8em 4em 2em 4em;
  margin-top: 4em;
  .menu-footer {
    list-style: none;
    color: #ffffff;
    li {
      padding-bottom: 1em;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .copyright {
    color: #ffffff;
    text-align: center;
  }
}

// style mode mobile
@media screen and (max-width: 991px) {
  .main-content {
    padding: 16px;
    header .navbar-light .navbar-nav {
      .nav-item {
        padding-left: 0 !important;
      }
    }
  }
  .custom-footer {
    padding: 5em 1em 1em 1em !important;
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .main-content .search-bar {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .main-content .search-bar {
    height: fit-content;
  }
  .main-content .search-bar .select-column {
    border: none;
  }
  .main-content .search-bar .button-column .search-rounded-btn {
    width: 90%;
    height: 41px;
    border-radius: 50px;
    margin: 10px auto;
    display: block;
  }
  .search-column .form-group input {
    border-bottom: 1px solid #ececec !important;
  }
}